<!--<a class="menu" href="/">All</a>-->
<a class="menu" href="/article/">Articles</a>
<a class="menu" href="/brief/">Briefs</a>
<a class="menu" href="/devlog/">Dev</a>
<a class="menu-optional" href="/milestone/">Milestones</a>
<!--<a class="menu" href="/milestone/">Milestones</a>-->