{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}

<main class="content" role="main">
	<article class="post">
		<div class="inner">

			<div id="push">

  			<header class="post-header">
  				<div class="clear"></div>
  				<h1 class="post-title">{{ .Title }}</h1>
				  <span class="post-meta">
					<span class="reading-time"><span class="estimated-reading-time">About a {{ .ReadingTime }} minute read, or </span><span class="word-count">{{ .WordCount }}</span> words</span>
					&mdash;  
					{{ if eq .Section "post" }}
						<span class="post-date">Posted {{ .Date.Format "2 Jan 2006" }} </span>
					{{ else }}
						<span class="post-date">
							Posted {{ .Date.Format "2 Jan 2006" }} in 
							<a class="section-link" href="/{{ .Section }}/">{{ .Section }}</a>
						</span>
					{{ end }}
  				</span>
  			</header>

  			<section class="post-content">
  				{{ .Content }}
  			</section>

  			<footer class="post-footer">
  				<div class="post-tags">
            {{if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $baseurl }}/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
            {{ end }}
            {{ end }}
  				</div>
  				<!--<div class="post-share">
  					<a class="icon-twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
  						<span>Twitter</span>
  					</a>
  					<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
  						<span>Facebook</span>
  					</a>
  					<a class="icon-gplus" href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
  						<span>Google+</span>
  					</a>
  				</div>-->
  			</footer>

  			{{ partial "comments.html" . }}

			</div>

			<nav class="post-nav">

				{{ if .PrevInSection }}
					<a class="post-nav-item post-nav-next" href="{{ .PrevInSection.Permalink }}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-left"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{ .PrevInSection.Title }}</h4>
								<p class="post-nav-excerpt">{{ .PrevInSection.Description }}&hellip;</p>
							</span>
						</section>
					</a>
				{{ end }}

                {{ if .NextInSection }}
					<a class="post-nav-item post-nav-prev" href="{{ .NextInSection.Permalink }}">
						<section class="post-nav-teaser">
							<span class="post-nav-icon"><i class="icon-arrow-right"></i></span>
							<span class="post-nav-info">
								<h4 class="post-nav-title">{{ .NextInSection.Title }}</h4>
								<p class="post-nav-excerpt">{{ .NextInSection.Description }}&hellip;</p>
							</span>
						</section>
					</a>
				{{ end }}
				<div class="clear"></div>
			</nav>

		</div>
	</article>
</main>

{{ partial "footer.html" . }}
