{{ partial "header.html" . }}

<header id="header" class="header{{ if .Site.Params.cover }} has-cover{{ end }}">
	<div class="inner">
		<a class="header-title" href="{{ .Site.BaseURL }}">
			<h1 class="header-name">Kabbo's milestones</h1>
		</a>
	</div>
	{{ if .Site.Params.cover }}
	<div class="header-cover" style="background-image: url({{ .Site.Params.cover }})"></div>
	{{ end }}
</header>

	<div id="post-index" class="container">

		<main class="content" role="main">

			<div class="post-list">
				<div id="push">

			{{ $paginator := .Paginator }}

			{{ range .Data.Pages.ByDate }}
			  {{ .Render "li" }}
			{{ end }}

				</div>
			</div>
			
			{{ partial "pagination.html" $paginator }}

		</main>

	</div>

{{ partial "footer.html" . }}
